@include context-edit {
	.c-editormessage {
		--c-editormessage-color: #000;
		--c-editormessage-background-color: #f0f0f0;
		--c-editormessage-border-color: #ccc;

		border: 1px solid var(--c-editormessage-border-color);
		color: var(--c-editormessage-color);
		background-color: var(--c-editormessage-background-color);
		padding: 1rem;
		@extend .h-stack;

		&--error {
			--c-editormessage-color: var(--sht-color--danger);
			--c-editormessage-background-color: var(--sht-color--danger-background);
			--c-editormessage-border-color: var(--sht-color--danger-border);
		}
	}
}
