.c-header {
	background-color: transparent !important;
	border: none;

	&::before {
		content: '';
		opacity: 0;
		@include flood;
		z-index: 1;
		background-image: url('../img/cover-background-pattern.svg');
	}

	&::after {
		content: '';
		opacity: 0;
		transition: opacity 800ms ease;
		@include flood;
		background-color: var(--wp--preset--color--darkest-gray) !important;
		z-index: 0;
	}

	* {
		z-index: 1;
	}

	&.with--background {

		@media screen and (min-width:rem-calc(601px)) {
			backdrop-filter: blur(10px);

			&::before {
				opacity: 0.025;
			}

			&::after {
				opacity: 0.8;
			}
		}
	}

	&__inner {
		@media screen and (min-width: rem-calc(601px)) {
			background-color: transparent !important;
		}
	}

	&__logo {
		display: inline-block;
		margin: var(--unit) 0;
		width: 200px;
	}

	&__menutoggler {
		margin: var(--unit) auto;
	}
}

@include context-view {
	.c-header {
		position: relative;
		z-index: 1972;

		@media screen and (min-width: rem-calc(601px)) {
			position: fixed;
			top: var(--wp-admin--admin-bar--height, 0);
			left: 0;
			right: 0;
		}
	}
}