:root,
body {
	--header--height: #{rem-calc(85px)};

	@include breakpoint(wide) {
		--header--height: #{rem-calc(104px)};
	}
}

.c-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1972;
	background-color: transparent !important;
	border: none;
	@extend %h-guttered;

	&::before {
		content: '';
		opacity: 0;
		@include flood;
		z-index: 1;
		background-image: url('../img/cover-background-pattern.svg');
	}

	&::after {
		content: '';
		opacity: 0;
		transition: opacity 800ms ease;
		@include flood;
		background-color: var(--wp--preset--color--darkest-gray) !important;
		z-index: 0;
	}

	* {
		z-index: 1;
	}

	&.with--background {
		backdrop-filter: blur(10px);

		&::before {
			opacity: 0.025;
		}

		&::after {
			opacity: 0.8;
		}
	}

	&__logo {
		display: inline-block;
		margin: var(--unit) 0;
		width: 200px;
	}

	&__menutoggler {
		margin: var(--unit) auto;
	}
}
