.c-main {
	margin-top: 0;
	flex: 1 0;

	&__inner {
		&--index {
			@extend %h-guttered;
		}
	}

	.entry-content:has(.wp-block-group.alignfull:last-child) {
		margin-bottom: calc(-1 * var(--wp--preset--spacing--70));
	}
}