@include context-view {
	.c-mobilemenu {
		--mobilemenu--padding-extra: var(--unit--medium);

		@media screen and (min-width: rem-calc(600px)) {
			--mobilemenu--padding-extra: var(--unit);

			body.home & {
				--mobilemenu--padding-extra: var(--unit--medium);
			}
		}

		--mobilemenu--padding-top: calc(var(--header--height) + var(--mobilemenu--padding-extra));

		body.admin-bar & {
			--mobilemenu--padding-top: calc(var(--header--height) + var(--wp-admin--admin-bar--height) + var(--mobilemenu--padding-extra));

		}

		box-sizing: border-box;
		position: fixed;
		top: 0;
		left: 0;
		// Don't use "right" here: it creates a scroll overflow
		width: 100%;
		opacity: 0;
		pointer-events: none;
		z-index: 2;
		transition: opacity .6s ease;
		height: calc(var(--svh) * 100);
		padding-top: var(--mobilemenu--padding-top) !important;

		&[aria-hidden='false'] {
			pointer-events: all;
			display: block;
			transform: translateX(0);
			opacity: 1;

			@media screen and (min-width: rem-calc(1280px)) {
				display: none;
			}
		}

		&__inner {
			max-height: 100%;
			overflow: auto;
		}

	}

	// Necessary specificity to override the defaults
	body .c-mobilemenu {
		&__inner {
			&> :where(:not(.alignwide):not(.alignfull)) {
				@extend %narrow-offset;

				@media screen and (min-width: rem-calc(509px)) {
					margin-left: rem-calc(108px) !important;
				}
			}
		}
	}
}