.pll-switcher-select {
	appearance: none;
	background: transparent url('../img/icons/expand_more_FILL0_wght400_GRAD0_opsz48.svg') right 0.5em center no-repeat;
	background-size: 1.25em;
	padding-right: 2em;
	border: none;
	color: inherit;
	font-size: 1em;
	--wp--custom--form--color--text: var(--wp--preset--color--white);


	&:focus option,
	&:focus option:hover,
	&:focus option:active {
		color: var(--wp--preset--color--black) !important;
	}
}