.wp-block-cover {
	padding: var(--space--s);

	&.has-background-dim {
		color: var(--wp--preset--color--white);
	}

	&.c-pageheader {
		min-height: 50vw;

		@include breakpoint(tablet) {
			min-height: 30vw;
		}

		@include breakpoint(tablet_landscape) {
			min-height: 20vw;
		}
	}

	&__inner-container {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
		@extend .h-stack;
		padding-top: var(--unit);
		padding-bottom: var(--unit);
		max-width: var(--constraint--wide) !important;
		color: inherit !important;

		> .wp-block-group {
			max-width: var(--constraint-wide);
			margin-left: auto;
			margin-right: auto;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.wp-block-post-title {
		max-width: var(--constraint-narrow) !important;
		margin-left: 0 !important;
	}
}

@include context-edit {
	.wp-block-cover {
		.block-editor-block-list__block {
			color: inherit;
		}
	}
}
