.wp-block-cover {

	&.has-background-dim {
		color: var(--wp--preset--color--white);
	}

	&.c-pageheader {
		min-height: 50vw;

		@include breakpoint(tablet) {
			min-height: 30vw;
		}

		@include breakpoint(tablet_landscape) {
			min-height: 20vw;
		}
	}

	&--pagehead {
		min-height: 40vw;

		@media screen and (min-width:#{rem-calc(768px)}) {
			min-height: 20rem;
		}

		@media screen and (min-height:#{rem-calc(1200px)}) {
			// min-height: 25rem;
		}
	}

	&.is-style-textured {
		&:after {
			content: '';
			@include flood;
			z-index: 1;
			opacity: 0.025;
			background-image: url('../img/cover-background-pattern.svg');
		}
	}

	.wp-block-cover__inner-container {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
		@extend .h-stack;
		padding-top: var(--unit);
		padding-bottom: var(--unit);
		max-width: var(--constraint-wide) !important;
		color: inherit !important;
		z-index: 2;
		position: relative;
	}

}