.wp-block-image {
	@extend .h-stack--small;

	figcaption {
		margin-top: var(--stack-size); // override core
		margin-bottom: 0; // override core
		font-size: var(--wp--custom--image--caption--font-size);
	}
}
