.wp-block-post-content {

	@extend %h-guttered;

	.alignfull+.alignfull {
		margin-top: 0;
	}

	li::marker {
		content: '–\00a0\00a0';
	}

	&>.wp-block-cover:first-child {
		@media screen and (min-width: #{rem-calc(601px)}) {
			padding-top: 144px;
		}
	}
}