@mixin stack {
	>* {
		margin-top: 0;
		margin-bottom: 0;

		+* {
			margin-top: var(--stack-size);
		}
	}
}

.wp-block-shp-events-api {
	container-name: eventsApi;
	container-type: inline-size;

	&__entries {
		--stack-size: 2em;
		@include stack();

		&--cols-2 {
			@container eventsApi (min-width: 37rem) {
				columns: 2;
			}
		}

		&--cols-3 {
			@container eventsApi (min-width: 37rem) {
				columns: 3;
			}
		}

	}

	&__entry-organizer {
		font-size: 0.8em;
	}
}
