.wp-block-sht-menu {
	a {
		color: currentColor;
		text-decoration: none;
		font-weight: inherit;
		padding: 0,
	}

	.c-menu {
		&__entries {
			&--primary {
				display: flex;
				gap: 2rem;

				.c-menu__entry--current {
					&>a {
						text-decoration: underline;
						text-decoration-color: rgba(255, 255, 255, .65);
						text-decoration-thickness: 1px;
						text-underline-offset: 2px;
					}
				}
			}
		}
	}
}