.wp-block-sht-menu {
	a {
		color: currentColor;
		text-decoration: none;
		font-weight: inherit;
		padding: 0,
	}

	.c-menu {
		&__entries {
			&--primary {
				display: flex;
				gap: 2rem;
			}
		}
	}
}